{% assign limit = section.settings.grid | times: section.settings.rows %}

{% paginate collection.products by limit %}

{% include 'breadcrumb' %}

{% assign has_sidebar = false %}
{% if collection.all_tags.size > 0 and section.settings.enable_sidebar %}
  {% assign has_sidebar = true %}
{% endif %}

<div id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template" data-section-id="{{ section.id }}" data-section-type="product-template" data-zoom-toggle="zoom-in" data-zoom-enabled="{{ section.settings.product_image_zoom_enable }}" data-related-enabled="{{ section.settings.product_related_enable }}" data-social-sharing="{{ section.settings.social_sharing }}" data-show-compare-at-price="{{ section.settings.product_show_compare_at_price }}" data-stock="{{ section.settings.product_quantity_message }}" data-incoming-transfer="{{ section.settings.product_incoming_message }}" data-ajax-cart-method="{{ settings.ajax_cart_method }}">
  <div class="grid grid-border">

    {% if has_sidebar %}
    <aside class="sidebar grid-item large--one-fifth collection-filters" id="collectionFilters">
      {% include 'collection-sidebar' %}
    </aside>
    {% endif %}

    <div class="grid-item{% if has_sidebar %} large--four-fifths grid-border--left{% endif %}">

      {% comment %}
        Different markup if description is set
      {% endcomment %}
      {% if collection.description != blank %}
        <header class="section-header">
          <h1 class="section-header--title h1">{{ collection.title }}</h1>
          <div class="rte rte--header">
            {{ collection.description }}
          </div>
        </header>
        <hr{% if has_sidebar %} class="hr--offset-left"{% endif %}>
        <div class="section-header">
          <div class="section-header--right">
            {% include 'collection-sorting' %}
            {% include 'collection-views' %}
            {% include 'toggle-filters' %}
          </div>
        </div>
      {% else %}
      <header class="section-header">
        <h1 class="section-header--title section-header--left h1">{{ collection.title }}</h1>
        <div class="section-header--right">
          {% include 'collection-sorting' %}
          {% include 'collection-views' %}
          {% include 'toggle-filters' %}
        </div>
      </header>
      {% endif %}

      <div class="grid-uniform">
        {%- case section.settings.grid -%}
          {%- when '2' -%}
            {%- assign grid_item_width = 'medium--one-half large--one-half' -%}
            {%- assign image_size = '540x600' -%}
            {%- assign width = '540' -%}
            {%- assign height = '600' -%}
          {%- when '3' -%}
            {%- assign grid_item_width = 'small--one-half medium--one-third large--one-third' -%}
            {%- assign image_size = '345x550' -%}
            {%- assign width = '345' -%}
            {%- assign height = '550' -%}
          {%- when '4' -%}
            {%- assign grid_item_width = 'small--one-half medium--one-quarter large--one-quarter' -%}
            {%- assign image_size = '250x' -%}
            {%- assign width = '250' -%}
            {%- assign height = '225' -%}
          {%- when '5' -%}
            {%- assign grid_item_width = 'small--one-half medium--one-fifth large--one-fifth' -%}
            {%- assign image_size = '195x' -%}
            {%- assign width = '195' -%}
            {%- assign height = '125' -%}
        {%- endcase -%}

        {% if section.settings.product_quantity_enable == false %}
        <style>
            .selector-wrapper select, .product-variants select {
            margin-bottom: 13px;
            }
        </style>
        {% endif %}

        {% for product in collection.products %}
          {% comment %}
          {% if has_sidebar %}
            {% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half' %}
          {% else %}
            {% assign grid_item_width = 'large--one-fifth medium--one-third small--one-half' %}
          {% endif %}
          {% endcomment %}
          {% include 'product-grid-item' with grid_item_width %}

        {% else %}

          <div class="grid-item">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>

        {% endfor %}

      </div>

    </div>

    {% if paginate.pages > 1 %}
    <div class="grid-item pagination-border-top">
      <div class="grid">
        <div class="grid-item{% if has_sidebar %} large--four-fifths push--large--one-fifth{% endif %}">
            <div class="text-center">
              {% include 'pagination-custom' %}
            </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>

{% endpaginate %}

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  {% if section.settings.product_quantity_message or section.settings.product_incoming_message %}
    <script type="application/json" id="VariantJson-{{ section.id }}">
      [
        {% for variant in product.variants %}
          {% capture variant_inventory %}
            {%- if section.settings.product_incoming_message -%}
              ,
              "incoming": {% if variant.incoming == 'null' or variant.next_incoming_date == null %}false{% else %}{{ variant.incoming | default: false | json }}{% endif %},
              "inventory_policy": {{ variant.inventory_policy | json }},
              "next_incoming_date": {{ variant.next_incoming_date | date: format: 'date' | json }}
            {%- endif -%}
            {%- if section.settings.product_quantity_message -%}
              ,
              "inventory_quantity": {{ variant.inventory_quantity | json }}
            {%- endif -%}
          {% endcapture %}
          {
            {{ variant_inventory | remove_first: ',' | strip }}
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    </script>
  {% endif %}
{% endunless %}

{% schema %}
{
  "name": {
    "da": "Kollektion",
    "de": "Kategorie",
    "en": "Collection",
    "es": "Colección",
    "fi": "Kokoelma",
    "fr": "Collection",
    "hi": "कलेक्शन",
    "it": "Collezione",
    "ja": "コレクション",
    "ko": "컬렉션",
    "nb": "Samling",
    "nl": "Collectie",
    "pt-BR": "Coleção",
    "pt-PT": "Coleção",
    "sv": "Produktserie",
    "th": "คอลเลกชัน",
    "zh-CN": "收藏",
    "zh-TW": "商品系列"
  },
  "class": "collection-template-section",
  "settings": [
    {
      "type": "select",
      "id": "grid",
      "label": {
        "da": "Produkter pr. række",
        "de": "Produkte per Reihe",
        "en": "Products per row",
        "es": "Productos por fila",
        "fi": "Tuotteita per rivi",
        "fr": "Produits par rangée",
        "hi": "प्रति पंक्ति उत्पाद",
        "it": "Prodotti per riga",
        "ja": "行あたりの商品数",
        "ko": "열 별 제품",
        "nb": "Produkter per rad",
        "nl": "Producten per rij",
        "pt-BR": "Produtos por linha",
        "pt-PT": "Produtos por linha",
        "sv": "Produkter per rad",
        "th": "สินค้าต่อแถว",
        "zh-CN": "每行产品数",
        "zh-TW": "每列產品數"
      },
      "default": "4",
      "options": [
        {
          "value": "2",
          "label": {
            "da": "2",
            "de": "2",
            "en": "2",
            "es": "2",
            "fi": "2",
            "fr": "2",
            "hi": "2",
            "it": "2",
            "ja": "2",
            "ko": "2",
            "nb": "2",
            "nl": "2",
            "pt-BR": "2",
            "pt-PT": "2",
            "sv": "2",
            "th": "2",
            "zh-CN": "2",
            "zh-TW": "2"
          }
        },
        {
          "value": "3",
          "label": {
            "da": "3",
            "de": "3",
            "en": "3",
            "es": "3",
            "fi": "3",
            "fr": "3",
            "hi": "3",
            "it": "3",
            "ja": "3",
            "ko": "3",
            "nb": "3",
            "nl": "3",
            "pt-BR": "3",
            "pt-PT": "3",
            "sv": "3",
            "th": "3",
            "zh-CN": "3",
            "zh-TW": "3"
          }
        },
        {
          "value": "4",
          "label": {
            "da": "4",
            "de": "4",
            "en": "4",
            "es": "4",
            "fi": "4",
            "fr": "4",
            "hi": "4",
            "it": "4",
            "ja": "4",
            "ko": "4",
            "nb": "4",
            "nl": "4",
            "pt-BR": "4",
            "pt-PT": "4",
            "sv": "4",
            "th": "4",
            "zh-CN": "4",
            "zh-TW": "4"
          }
        },
        {
          "value": "5",
          "label": {
            "da": "5",
            "de": "5",
            "en": "5",
            "es": "5",
            "fi": "5",
            "fr": "5",
            "hi": "5",
            "it": "5",
            "ja": "5",
            "ko": "5",
            "nb": "5",
            "nl": "5",
            "pt-BR": "5",
            "pt-PT": "5",
            "sv": "5",
            "th": "5",
            "zh-CN": "5",
            "zh-TW": "5"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "rows",
      "label": {
        "da": "Rækker pr. side",
        "de": "Zeilen pro Seite",
        "en": "Rows per page",
        "es": "Filas por página",
        "fi": "Rivejä per sivu",
        "fr": "Rangées par page",
        "hi": "प्रति पृष्ठ पंक्तियां",
        "it": "Righe per pagina",
        "ja": "ページあたりの行数",
        "ko": "페이지 별 열",
        "nb": "Rader per side",
        "nl": "Rijen per pagina",
        "pt-BR": "Linhas por página",
        "pt-PT": "Linhas por página",
        "sv": "Rader per sida",
        "th": "แถวต่อหน้า",
        "zh-CN": "每页行数",
        "zh-TW": "每頁列數"
      },
      "default": "6",
      "options": [
        {
          "value": "3",
          "label": {
            "da": "3",
            "de": "3",
            "en": "3",
            "es": "3",
            "fi": "3",
            "fr": "3",
            "hi": "3",
            "it": "3",
            "ja": "3",
            "ko": "3",
            "nb": "3",
            "nl": "3",
            "pt-BR": "3",
            "pt-PT": "3",
            "sv": "3",
            "th": "3",
            "zh-CN": "3",
            "zh-TW": "3"
          }
        },
        {
          "value": "4",
          "label": {
            "da": "4",
            "de": "4",
            "en": "4",
            "es": "4",
            "fi": "4",
            "fr": "4",
            "hi": "4",
            "it": "4",
            "ja": "4",
            "ko": "4",
            "nb": "4",
            "nl": "4",
            "pt-BR": "4",
            "pt-PT": "4",
            "sv": "4",
            "th": "4",
            "zh-CN": "4",
            "zh-TW": "4"
          }
        },
        {
          "value": "5",
          "label": {
            "da": "5",
            "de": "5",
            "en": "5",
            "es": "5",
            "fi": "5",
            "fr": "5",
            "hi": "5",
            "it": "5",
            "ja": "5",
            "ko": "5",
            "nb": "5",
            "nl": "5",
            "pt-BR": "5",
            "pt-PT": "5",
            "sv": "5",
            "th": "5",
            "zh-CN": "5",
            "zh-TW": "5"
          }
        },
        {
          "value": "6",
          "label": {
            "da": "6",
            "de": "6",
            "en": "6",
            "es": "6",
            "fi": "6",
            "fr": "6",
            "hi": "6",
            "it": "6",
            "ja": "6",
            "ko": "6",
            "nb": "6",
            "nl": "6",
            "pt-BR": "6",
            "pt-PT": "6",
            "sv": "6",
            "th": "6",
            "zh-CN": "6",
            "zh-TW": "6"
          }
        },
        {
          "value": "7",
          "label": {
            "da": "7",
            "de": "7",
            "en": "7",
            "es": "7",
            "fi": "7",
            "fr": "7",
            "hi": "7",
            "it": "7",
            "ja": "7",
            "ko": "7",
            "nb": "7",
            "nl": "7",
            "pt-BR": "7",
            "pt-PT": "7",
            "sv": "7",
            "th": "7",
            "zh-CN": "7",
            "zh-TW": "7"
          }
        },
        {
          "value": "8",
          "label": {
            "da": "8",
            "de": "8",
            "en": "8",
            "es": "8",
            "fi": "8",
            "fr": "8",
            "hi": "8",
            "it": "8",
            "ja": "8",
            "ko": "8",
            "nb": "8",
            "nl": "8",
            "pt-BR": "8",
            "pt-PT": "8",
            "sv": "8",
            "th": "8",
            "zh-CN": "8",
            "zh-TW": "8"
          }
        }
      ]
    },
    {
      "type": "radio",
      "id": "collection_sidebar_filters",
      "label": {
        "da": "Produktfiltre i sidebjælke",
        "de": "Produktfilter in Seitenleiste",
        "en": "Sidebar product filters",
        "es": "Filtros de productos de la barra lateral",
        "fi": "Sivupalkin tuotesuodattimet",
        "fr": "Filtres de produits de la barre latérale",
        "hi": "साइडबार उत्पाद फ़िल्टर",
        "it": "Filtri prodotto sidebar",
        "ja": "サイドバーの商品絞り込み",
        "ko": "사이드 바 제품 필터",
        "nb": "Produktfiltre i sidefelt",
        "nl": "Filters voor zijbalk",
        "pt-BR": "Filtros de produto na barra lateral",
        "pt-PT": "Filtros de produto na barra lateral",
        "sv": "Sidofältets produktfilter",
        "th": "ตัวกรองสินค้าในแถบด้านข้าง",
        "zh-CN": "侧边栏产品筛选器",
        "zh-TW": "側邊欄產品篩選條件"
      },
      "options": [
        {
          "value": "tags",
          "label": {
            "da": "Efter tag",
            "de": "Nach Tag",
            "en": "By tag",
            "es": "Por etiqueta",
            "fi": "Tunnisteen mukaan",
            "fr": "Par balise",
            "hi": "टैग द्वारा",
            "it": "Per tag",
            "ja": "タグ別",
            "ko": "태그 별",
            "nb": "Etter tagg",
            "nl": "Per tag",
            "pt-BR": "Por tag",
            "pt-PT": "Por etiqueta",
            "sv": "Efter tagg",
            "th": "ตามแท็ก",
            "zh-CN": "按标签",
            "zh-TW": "依標籤"
          }
        },
        {
          "value": "groups",
          "label": {
            "da": "Efter gruppe",
            "de": "Nach Gruppe",
            "en": "By group",
            "es": "Por grupo",
            "fi": "Ryhmän mukaan",
            "fr": "Par groupe",
            "hi": "समूह द्वारा",
            "it": "Per gruppo",
            "ja": "グループ別",
            "ko": "그룹 별",
            "nb": "Etter gruppe",
            "nl": "Per groep",
            "pt-BR": "Por grupo",
            "pt-PT": "Por grupo",
            "sv": "Efter grupp",
            "th": "ตามกลุ่ม",
            "zh-CN": "按组",
            "zh-TW": "依群組"
          }
        }
      ],
      "info": {
        "da": "[Få mere at vide om opsætning af gruppefiltre](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "de": "[Erfahren Sie, wie Sie Filtergruppen einrichten](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "en": "[Learn how to set up filter groups](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "es": "[Obtén información sobre cómo configurar los grupos de filtros](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "fi": "[Lisätietoja suodatinryhmien käyttöönotosta](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "fr": "[Apprenez à configurer les groupes de filtres](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "hi": "[जानें कि फ़िल्टर समूह कैसे सेट करें](https://help.shopify.com/manual/use-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "it": "[Scopri come configurare i gruppi di filtri](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "ja": "[フィルターグループの設定方法について、もっと詳しく](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific)。",
        "ko": "[필터 그룹 설정 자세히 알아보기](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "nb": "[Finn ut hvordan du konfigurerer filtergrupper](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "nl": "[Bekijk hoe je filtergroepen instelt](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "pt-BR": "[Saiba como criar grupos de filtros](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "pt-PT": "[Saiba como criar grupos de filtros](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "sv": "[Lär dig att konfigurera filtergrupper](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific).",
        "th": "[ดูวิธีตั้งค่ากลุ่มตัวกรอง](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific)",
        "zh-CN": "[了解如何设置筛选器组](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific)。",
        "zh-TW": "[瞭解如何設定篩選條件群組](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific)。"
      }
    },
    {
      "type": "checkbox",
      "id": "product_show_compare_at_price",
      "label": {
        "da": "Vis sammenligningspris",
        "de": "Vergleichspreis anzeigen",
        "en": "Show compare at price",
        "es": "Mostrar precio de comparación",
        "fi": "Näytä vertailuhinta",
        "fr": "Afficher le prix d'origine",
        "hi": "मूल्य पर तुलना देखें",
        "it": "Mostra Prezzo di confronto",
        "ja": "割引前価格を表示する",
        "ko": "비교가 표시",
        "nb": "Vis prissammenligning",
        "nl": "Prijsvergelijking weergeven",
        "pt-BR": "Exibir Comparação de preços",
        "pt-PT": "Mostrar preço comparado",
        "sv": "Visa ursprungspris",
        "th": "แสดงราคาเปรียบเทียบ",
        "zh-CN": "显示原价",
        "zh-TW": "顯示售價"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_show_saved_amount",
      "label": {
        "da": "Vis besparelse",
        "de": "Gesparten Betrag anzeigen",
        "en": "Show saved amount",
        "es": "Mostrar monto ahorrado",
        "fi": "Näytä säästetty summa",
        "fr": "Afficher le montant économisé",
        "hi": "सहेजी गई राशि दिखाएं",
        "it": "Mostra importo risparmiato",
        "ja": "保存された金額を表示",
        "ko": "저장 금액 표시",
        "nb": "Vis spart beløp",
        "nl": "Bespaard bedrag weergeven",
        "pt-BR": "Exibir valor salvo",
        "pt-PT": "Mostrar valor poupado",
        "sv": "Visa sparade belopp",
        "th": "แสดงจำนวนที่บันทึกไว้",
        "zh-CN": "显示已保存的金额",
        "zh-TW": "顯示省下金額"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_reviews_enable",
      "label": {
        "da": "Aktivér produktanmeldelser",
        "de": "Produktbewertungen aktivieren",
        "en": "Enable product reviews",
        "es": "Habilitar reseñas de productos",
        "fi": "Ota tuotearvostelut käyttöön",
        "fr": "Activer les avis sur les produits",
        "hi": "उत्पाद समीक्षा सक्षम करें",
        "it": "Abilita recensioni di prodotto",
        "ja": "商品レビューを有効にする",
        "ko": "제품 리뷰 사용",
        "nb": "Aktiver produktanmeldelser",
        "nl": "Productbeoordelingen inschakelen",
        "pt-BR": "Habilite as avaliações de produtos",
        "pt-PT": "Ativar as análises de produtos",
        "sv": "Aktivera produktrecensioner",
        "th": "เปิดรีวิวสินค้า",
        "zh-CN": "启用产品评论",
        "zh-TW": "啟用產品評論"
      },
      "info": {
        "da": "Installer den gratis Shopify-app [Produktanmeldelser](https://apps.shopify.com/product-reviews) for at tilføje produktanmeldelser.",
        "de": "Installieren Sie die kostenlose Shopify-App [Product Reviews](https://apps.shopify.com/product-reviews), um Produktbewertungen hinzuzufügen.",
        "en": "Install the free Shopify [Product Reviews](https://apps.shopify.com/product-reviews) app to add product reviews.",
        "es": "Instala la aplicación gratis de Shopify [Product Reviews](https://apps.shopify.com/product-reviews) para agregar reseñas de productos.",
        "fi": "Asenna ilmainen Shopify [tuotearvostelut](https://apps.shopify.com/product-reviews) -sovellus tuotearvostelujen lisäämiseen.",
        "fr": "Installer l'application Shopify gratuite [Product Reviews](https://apps.shopify.com/product-reviews) pour ajouter des avis sur les produits.",
        "hi": "नि: शुल्क Shopify इंस्टाल करें [उत्पाद समीक्षा](https://apps.shopify.com/product-reviews) उत्पाद समीक्षा जोड़ने के लिए ऐप.",
        "it": "Installa l'app gratuita di Shopify [Recensioni Prodotto](https://apps.shopify.com/product-reviews) per aggiungere delle recensioni di prodotto.",
        "ja": "無料のShopify[商品レビュー](https://apps.shopify.com/product-reviews)をインストールしてください商品レビューを追加するためのアプリです。",
        "ko": "무료 Shopify [제품 리뷰] 를 설치하십시오.(https://apps.shopify.com/product-reviews) 제품 리뷰 추가 앱",
        "nb": "Installer den gratis Shopify [Produktanmeldelser](https://apps.shopify.com/product-reviews) appen for å legge til produktanmeldelser.",
        "nl": "Installeer de gratis Shopify [Productbeoordelingen](https://apps.shopify.com/product-reviews) app om productbeoordelingen toe te voegen",
        "pt-BR": "Instale o app gratuito da Shopify [Avaliações de Produtos](https://apps.shopify.com/product-reviews) para adicionar avaliações de produtos.",
        "pt-PT": "Instale a aplicação gratuita da Shopify [Análises de produtos](https://apps.shopify.com/product-reviews) para adicionar análises de produtos.",
        "sv": "Installera den fria Shopify [Produktrecensioner](https://apps.shopify.com/product-reviews) app för att lägga till produktrecensioner.",
        "th": "ติดตั้งแอป Shopify [รีวิวสินค้า](https://apps.shopify.com/product-reviews) เพื่อเพิ่มรีวิวสินค้าฟรี",
        "zh-CN": "安装免费 Shopify [产品评论](https://apps.shopify.com/product-reviews) 应用以添加产品评论。",
        "zh-TW": "免費安裝 Shopify [Product Reviews](https://apps.shopify.com/product-reviews) 應用程式以新增產品評論。"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_sidebar",
      "label": {
        "da": "Aktivér sidebjælke",
        "de": "Seitenleiste aktivieren",
        "en": "Enable sidebar",
        "es": "Habilitar barra lateral",
        "fi": "Ota sivupalkki käyttöön",
        "fr": "Activer la barre latérale",
        "hi": "साइडबार सक्षम करें",
        "it": "Attiva sidebar",
        "ja": "サイドバーを有効にする",
        "ko": "사이드 바 사용",
        "nb": "Aktiver sidefelt",
        "nl": "Zijbalk inschakelen",
        "pt-BR": "Habilitar barra lateral",
        "pt-PT": "Ativar barra lateral",
        "sv": "Aktivera sidofältet",
        "th": "เปิดใช้งานแถบด้านข้าง",
        "zh-CN": "启用侧边栏",
        "zh-TW": "啟用側邊欄"
      },
      "default": true
    },
    {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": {
          "da": "Vis dynamisk betalingsknap",
          "de": "Dynamischen Checkout-Button anzeigen",
          "en": "Show dynamic checkout button",
          "es": "Mostrar botón de pago dinámico",
          "fi": "Näytä dynaaminen kassapainike",
          "fr": "Afficher le bouton de paiement dynamique",
          "hi": "डायनेमिक चेकआउट बटन दिखाएं",
          "it": "Mostra pulsante di check-out dinamico",
          "ja": "動的チェックアウトボタンを表示する",
          "ko": "동적 결제 버튼 표시",
          "nb": "Vis dynamisk knapp for å gå til kassen",
          "nl": "Dynamische betaalknop weergeven",
          "pt-BR": "Exibir botão de checkout dinâmico",
          "pt-PT": "Mostrar o botão dinâmico de finalização da compra",
          "sv": "Visa dynamiska utcheckningsknappar",
          "th": "แสดงปุ่มชำระเงินแบบไดนามิก",
          "zh-CN": "显示动态结账按钮",
          "zh-TW": "顯示動態結帳按鈕"
        },
        "info": {
          "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgængelige i din butik, f.eks. PayPal eller Apple Pay. [Få mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in Ihrem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Infos](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "fi": "Kukin asiakas näkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Lisätietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "hi": "प्रत्येक ग्राहक आपके स्टोर पर उपलब्ध अपनी पसंदीदा भुगतान की विधि देखेंगे जैसे PayPal या Apple Pay. [अधिक जानें](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[もっと詳しく](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "ko": "각 고객은 PayPal 또는 Apple Pay와 같이 스토어에서 사용 가능한 지불 방법을 확인할 수 있습니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmåte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "pt-BR": "Cada cliente verá a forma de pagamento preferencial dele dentre as disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "pt-PT": "Cada cliente irá ver o seu método de pagamento preferido entre os disponíveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "sv": "Varje kund kommer att se den föredragna betalningsmetoden från de som finns tillgängliga i din butik, till exempel PayPal eller Apple Pay. [Läs mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "th": "ลูกค้าแต่ละรายจะเห็นวิธีการชำระเงินที่ต้องการจากวิธีที่ใช้ได้ในร้านค้าของคุณ เช่น PayPal หรือ Apple Pay [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "zh-TW": "每位顧客都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解相關資訊](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "product_quantity_enable",
        "label": {
          "da": "Vis antalsvælger",
          "de": "Mengenauswahl anzeigen",
          "en": "Show quantity selector",
          "es": "Mostrar selector de cantidad",
          "fi": "Näytä määrän valitsin",
          "fr": "Afficher le sélecteur de quantité",
          "hi": "मात्रा चयनकर्ता दिखाएं",
          "it": "Mostra selettore quantità",
          "ja": "数量セレクターを表示する",
          "ko": "수량 선택기 표시",
          "nb": "Vis mengdevelger",
          "nl": "Hoeveelheidskiezer weergeven",
          "pt-BR": "Exibir seletor de quantidade",
          "pt-PT": "Mostrar um seletor de quantidade",
          "sv": "Visa kvantitetsväljare",
          "th": "แสดงตัวเลือกจำนวน",
          "zh-CN": "显示数量选择器",
          "zh-TW": "顯示數量選擇器"
        }
      },
      {
        "type": "checkbox",
        "id": "product_quantity_message",
        "label": {
          "da": "Vis besked om tilbageværende antal",
          "de": "Meldung zur verbleibenden Restmenge anzeigen",
          "en": "Show remaining quantity message",
          "es": "Mostrar mensaje de cantidad restante",
          "fi": "Näytä jäljellä oleva määrä -viesti",
          "fr": "Afficher le message de quantité restante",
          "hi": "शेष मात्रा संदेश दिखाएं",
          "it": "Mostra messaggio con la quantità rimanente",
          "ja": "残数のメッセージを表示する",
          "ko": "남은 수량 메시지 표시",
          "nb": "Vis melding om gjenværende antall",
          "nl": "Laat resterende hoeveelheidbericht zien",
          "pt-BR": "Exibir uma mensagem de quantidade restante",
          "pt-PT": "Mostrar mensagem de quantidade restante",
          "sv": "Visa meddelande om återstående kvantitet",
          "th": "แสดงปริมาณข้อความที่เหลืออยู่",
          "zh-CN": "显示剩余数量消息",
          "zh-TW": "顯示剩餘數量的訊息"
        }
      },
      {
        "type": "checkbox",
        "id": "product_incoming_message",
        "label": {
          "da": "Vis besked om indgående lageroverførsel, når varen er udsolgt",
          "de": "Meldung zu eingehender Warenverschiebung bei Ausverkauf anzeigen",
          "en": "Show incoming stock transfer message when sold out",
          "es": "Mostrar mensaje de inventario entrante cuando se agote el producto",
          "fi": "Näytä saapuva varasto -viesti kun tuote on loppuunmyyty",
          "fr": "Afficher le message de transfert de stock entrant lorsqu'épuisé",
          "hi": "बिक्री होने पर इनकमिंग स्टॉक हस्तांतरण संदेश दिखाएं",
          "it": "Mostra messaggio trasferimento stock in entrata quando esaurito",
          "ja": "売り切れ時に入荷予定のメッセージを表示する",
          "ko": "품절 시 재고 전송 메시지 표시",
          "nb": "Vis melding for innkommende overføring av lagerbeholdning når et produkt er utsolgt",
          "nl": "Laat binnenkort weer beschikbaar zien wanneer het uitverkocht is",
          "pt-BR": "Exibir uma mensagem de estoque quando um item estiver esgotado",
          "pt-PT": "Mostrar mensagem de stock recebido quando esgotado",
          "sv": "Visa inkommande aktieöverföringsmeddelande när det är utsålt",
          "th": "แสดงข้อความระบุข้อมูลการเติมสต็อกสินค้าขาเข้าเมื่อของหมด",
          "zh-CN": "售罄时显示传入的库存转移消息",
          "zh-TW": "售完時顯示即將調貨的訊息"
        }
      },
      {
        "type": "select",
        "id": "add_to_cart_button_size",
        "label": {
          "da": "Variantvælger og knapstørrelse",
          "de": "Variantenauswahl und Schaltflächengröße",
          "en": "Variant picker and button size",
          "es": "Selector de variantes y tamaño del botón",
          "fi": "Versionvalitsin ja painikkeen koko",
          "fr": "Sélecteur de variante et taille du bouton",
          "hi": "वेरिएंट पिकर और बटन का आकार",
          "it": "Dimensione selettore variante e pulsante",
          "ja": "バリエーションピッカーとボタンサイズ",
          "ko": "이형 상품 선택기 및 버튼 사이즈",
          "nb": "Variantvelger og knappestørrelse",
          "nl": "Variantkiezer en knopgrootte",
          "pt-BR": "Tamanho do botão e do seletor de variante",
          "pt-PT": "Tamanho dos botões e seletor de variante",
          "sv": "Variantväljare och knappstorlek",
          "th": "รายการเครื่องมือเลือกสินค้าและขนาดของปุ่ม",
          "zh-CN": "多属性选择器和按钮大小",
          "zh-TW": "子類選項選擇器和按鈕尺寸"
        },
        "default": "small",
        "options": [
          {
            "value": "small",
            "label": {
              "da": "Lille",
              "de": "Klein",
              "en": "Small",
              "es": "Pequeño",
              "fi": "Pieni",
              "fr": "Petite",
              "hi": "छोटा",
              "it": "Small",
              "ja": "小",
              "ko": "스몰",
              "nb": "Liten",
              "nl": "Klein",
              "pt-BR": "Pequeno",
              "pt-PT": "Pequeno",
              "sv": "Liten",
              "th": "เล็ก",
              "zh-CN": "小",
              "zh-TW": "小型"
            }
          },
          {
            "value": "medium",
            "label": {
              "da": "Medium",
              "de": "Mitte",
              "en": "Medium",
              "es": "Mediano",
              "fi": "Keskisuuri",
              "fr": "Moyenne",
              "hi": "मध्यम",
              "it": "Medium",
              "ja": "中",
              "ko": "보통",
              "nb": "Middels",
              "nl": "Gemiddeld",
              "pt-BR": "Médio",
              "pt-PT": "Intermédio",
              "sv": "Medium",
              "th": "ปานกลาง",
              "zh-CN": "中等",
              "zh-TW": "中等"
            }
          },
          {
            "value": "large",
            "label": {
              "da": "Stor",
              "de": "Groß",
              "en": "Large",
              "es": "Grande",
              "fi": "Suuri",
              "fr": "Grande",
              "hi": "बड़ा",
              "it": "Large",
              "ja": "大",
              "ko": "라지",
              "nb": "Stor",
              "nl": "Groot",
              "pt-BR": "Grande",
              "pt-PT": "Grande",
              "sv": "Stor",
              "th": "ใหญ่",
              "zh-CN": "大",
              "zh-TW": "大型"
            }
          }
        ]
      }
  ]
}
{% endschema %}
